colorama==0.4.3
Flask==1.1.2
flask_cors
Django==3.1
viapi_utils==1.0.0
ffmpy==0.2.3
requests==2.24.0
aliyun_python_sdk_videoenhan==1.0.2
aliyun_python_sdk_core==2.13.25
aliyun_python_sdk_facebody
aliyun_python_sdk_ocr
aliyun_python_sdk_goodstech
aliyun_python_sdk_imageaudit
aliyun_python_sdk_imagerecog
aliyun_python_sdk_imageenhan
aliyun_python_sdk_imageseg
aliyun_python_sdk_objectdet
aliyun_python_sdk_imageprocess
aliyun_python_sdk_imgsearch
aliyun_python_sdk_videorecog
aliyun_python_sdk_videoenhan
aliyun_python_sdk_videoseg
Werkzeug~=1.0.1
oss2
aliyun_python_sdk_viapiutils
